* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F8FF;
    max-width: 1140px;
    margin: 0px auto;

}

:root {
    --primaryColorRed: #E95A08;
    --primaryColorBlack: #000000;
    --color-Gray: #6B7280;
}


/* header secton  styles */

.navbar .fa-light fa-cart-shopping {
    color: black;
}

.navbar .nav-hide {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 20px 0 50px 0;
}

.logo img {
    max-height: 65px;
}

.navbar ul {
    display: flex;
    gap: 35px;
    list-style: none;
    position: absolute;
    right: 0px;
    top: 39px;

}

.navbar ul li:first-child a {
    color: black;

}

.navbar ul li:last-child a {
    color: black;

}

.navbar ul li a {
    text-decoration: none;
    color: #8987A1;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 500;

}

/* banner part */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.banner .banner-content {
    max-width: 50%;
}

.banner .banner-content h2, .red {
    font-size: 50px;
    font-weight: bold;
    color: var(--primaryColorRed);
    margin: 5px 0;
}

.banner .banner-content .banner-heading {
    color: black;
}

.banner .banner-content p {
    font-size: 22px;
    color: var(--color-Gray);
    font-family: Arial, Helvetica, sans-serif;
}

.banner .img {
    max-width: 50%;
}

.banner .img img {
    width: 100%;
}


/*  plants section styles */

/* .our-plants {
    margin-bottom: 30px;
} */

.plants {
    margin: 50px 0;
}

.plants .plants-content h2 {
    font-size: 50px;
    font-weight: bold;
    color: var(--primaryColorRed);
    text-align: center;
}

.plants .plants-content h2 span {
    color: black;
}

.plants .plants-content p {
    font-size: 22px;
    color: var(--color-Gray);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px 0 30px 0;
}

.plants-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.plants-card img {
    max-width: 100%;
}

.plants-card div {
    text-align: center;
}

.plants-card div .flower-title {
    font-weight: 500;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

.plants-card div .flower-price {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0 15px;
    font-size: 22px;
}

.plants-card div button {
    width: 100%;
    padding: 15px 0;
    color: white;
    background-color: var(--primaryColorRed);
    border: none;
}

/* plant lover section styles */

/* .trusted-plant-lover {
    margin-top: 50px;
} */

.plant-lover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}

.plant-lover .img {
    background: url(assets/flower-store.png);
    background-repeat: no-repeat;
    width: 540px;
    height: 447px;
    position: relative;
}

.plant-lover .img img {
    height: 286px;
    /* width: 286px; */
    position: absolute;
    top: -100px;
    right: -130px;
}

.plant-lover .plant-lover-content {
    max-width: 50%;
    height: auto;
    padding-left: 60px;
    padding-top: 20px;
}

.plant-lover .plant-lover-content h2 {
    font-weight: bold;
    font-size: 50px;
}

.plant-lover ul li {
    font-size: 22px;
    color: var(--color-Gray);
    margin: 20px 0;
}





















































































































/* responsive for mobile devices */
@media (max-width:576px) {

    /* navbar section */
    nav {
        margin: 0 20px;
        align-items: center;
        position: relative;
    }

    .navbar .nav-unhide {
        display: none;
    }

    .navbar .nav-hide {
        display: inline-block;
    }

    .navbar ul li:last-child a {
        font-size: 25px;
        right: 0px;
        top: 34px;
    }


    /* banner section */
    .banner {
        margin: 30px 20px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
     .banner .img {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .banner .banner-content h2, .red {
        font-size: 24px;
    }

    .banner .banner-content p {
        font-size: 14px;
    }

    .banner .banner-content {
        max-width: 100%;
        margin-bottom: 50px;
    }
   
     /* plants section */
    .plants {
        margin: 0 20px;
    }

    .plants .plants-content h2 {
        font-size: 24px;
    }

    .plants .plants-content p {
        font-size: 14px;
    }

    .plants-card div .flower-title, .plants-card div .flower-price {
        font-size: 16px;
    }

    .plants-card {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;

    }

    /* plant lover section */

    
    .plant-lover .img img {
        display: none;
    }

    .plant-lover {
        flex-direction: column;
        margin: 40px 20px;
    }

    .plant-lover .plant-lover-content {
        max-width: 100%;
        padding: 0;
        margin: 30px 0 0 0;
    }

    .plant-lover .plant-lover-content ul li {
        margin-left: 20px;
        font-size: 14px;
    }

    .plant-lover .plant-lover-content h2 {
        font-size: 24px;
        display: inline;
        text-align: left;
    }

    .plant-lover .plant-lover-content p {
        font-size: 14px;
    }

    .plant-lover .img {
        width: 100%;
    }
    


}